{{template "base" .}}

{{define "title"}}Movies #{{.Movies.ID}}{{end}}

{{define "main"}}
    {{with .Movies}}
    <div class='movies'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>


        <div>
            {{with .Original_title}}
                <p>Original title: {{.Original_title}} </p>
            {{end}}
        </div>



        <pre style="white-space: pre-wrap;"><code>{{.Synopsis}}</code></pre>


        <div class='metadata'>
           <time>Released year and Runtime: {{humanDate .Released_year}}</time>
        </div>






    </div>
    {{end}}
{{end}}
